version: '3.9'
services:
{% for service in docker_services %}
  {{ service.name }}:
    image: {{ service.image }}
{% if service.ports is defined %}
    ports:
{% for port in service.ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
{% if service.volumes is defined %}
    volumes:
{% for vol in service.volumes %}
      - "{{ vol }}"
{% endfor %}
{% endif %}
{% if service.labels is defined %}
    labels:
{% for label in service.labels %}
      - "{{ label }}"
{% endfor %}
{% endif %}
{% if service.command is defined %}
    command:
{% for cmd in service.command %}
      - "{{ cmd }}"
{% endfor %}
{% endif %}
{% if service.networks is defined %}
    networks:
{% for net in service.networks %}
      - {{ net }}
{% endfor %}
{% endif %}
{% endfor %}

networks:
  proxy:
    driver: bridge
