# roles/proxmox-host/templates/interfaces.j2
# Configuration bridges WAN/LAN

auto lo
iface lo inet loopback

# WAN bridge
auto vmbr0
iface vmbr0 inet static
    address {{ public_ip }}
    netmask 255.255.255.0
    gateway X.X.X.1
    bridge_ports eno1
    bridge_stp off
    bridge_fd 0

# LAN bridge
auto vmbr1
iface vmbr1 inet static
    address {{ gateway_lan }}
    netmask 255.255.255.0
    bridge_ports none
    bridge_stp off
    bridge_fd 0
