# Fichier généré par Ansible
auto lo
iface lo inet loopback

auto {{ proxmox_wan_interface }}
iface {{ proxmox_wan_interface }} inet manual

auto vmbr0
iface vmbr0 inet static
    address {{ proxmox_public_ip }}
    netmask {{ proxmox_public_netmask }}
    gateway {{ proxmox_gateway }}
    bridge_ports {{ proxmox_wan_interface }}
    bridge_stp off
    bridge_fd 0

auto vmbr1
iface vmbr1 inet static
    address {{ proxmox_lan_ip }}
    netmask {{ proxmox_lan_netmask }}
    bridge_ports none
    bridge_stp off
    bridge_fd 0

{% if enable_vmbr2 %}
auto vmbr2
iface vmbr2 inet static
    address {{ proxmox_internal_ip }}
    netmask {{ proxmox_internal_netmask }}
    bridge_ports none
    bridge_stp off
    bridge_fd 0
{% endif %}
