global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:80
    bind *:443 ssl crt /etc/haproxy/certs/default.pem
    mode http
    default_backend services-backend

backend services-backend
    mode http
{% for backend in haproxy_backend_servers %}
    server {{ backend.name }} {{ backend.ip }}:{{ backend.port }} check
{% endfor %}
