<opnsense>
  <system>
    <hostname>{{ opnsense_hostname }}</hostname>
    <domain>{{ opnsense_domain }}</domain>
    <timezone>{{ opnsense_timezone }}</timezone>
    <user>
      <name>root</name>
      <password>{{ opnsense_root_password | password_hash('sha512') }}</password>
    </user>
  </system>

  <interfaces>
    <lan>
      <if>{{ opnsense_lan_if }}</if>
      <ipaddr>{{ opnsense_lan_ip }}</ipaddr>
      <subnet>{{ opnsense_lan_subnet }}</subnet>
    </lan>
    <wan>
      <if>{{ opnsense_wan_if }}</if>
      <ipaddr>{{ opnsense_wan_ip }}</ipaddr>
    </wan>
  </interfaces>

  {% if vpn_enabled %}
  <openvpn>
    <server>
      <vpnid>1</vpnid>
      <protocol>{{ vpn_proto }}</protocol>
      <dev>tun</dev>
      <local_port>{{ vpn_port }}</local_port>
      <description>Remote VPN</description>
      <tunnel_network>{{ vpn_network }}</tunnel_network>
    </server>
  </openvpn>

  <firewall>
    <rule>
      <interface>wan</interface>
      <protocol>{{ vpn_proto }}</protocol>
      <destination_port>{{ vpn_port }}</destination_port>
      <action>pass</action>
    </rule>
  </firewall>
  {% endif %}
</opnsense>
