# roles/services-vm/templates/haproxy.cfg.j2

global
    log /dev/log    local0
    log /dev/log    local1 notice
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http-in
    bind *:80
    mode http
    default_backend traefik-back

frontend https-in
    bind *:443 ssl crt /etc/ssl/certs/traefik.pem
    mode http
    default_backend traefik-back

backend traefik-back
    mode http
    server srv1 {{ hostvars['srv1'].ansible_host }}:80 check
